.row-action{
	margin:0px 5px 0px 5px;
}

.row-action-delete i{
	color: red !important;
}

.other-info-accordion .nav-pills > li > a{
	color: #0b5fff !important;
}

.other-info-accordion .nav-pills > li > a.active{
	color: #fff !important;
}

table.dataTable th{
	font-weight: 600 !important;
}

.modal-header {
    font-weight: 600 !important;
    color: #fff !important;
    background-color: #0b5fff !important;
    height: 3rem !important;
    padding: 0.7rem !important;
}

.modal .close {
    color: #fff !important;
}