.master-data-manager-web {
}
.mdm-anchor{
	text-decoration: none;
	color:black;
}

a.mdm-anchor:hover, a.mdm-anchor:active {
	text-decoration: none;
	color:black;
}

.c-m{
	margin:5px;
	width: 18rem;
	padding:10px;
}

.c-m:hover{
	border:1px solid black;
	background-color: #f1f2f5;

}
.search-container{
	width:50%;
	margin-left:25%;
	margin-bottom: 2%;
}

